html{
    text-align: center;
    width: 99%;
    height: 90%;
    background-color: black;
    
}

body{
    width: 99%;
    height: 100;
    margin: 0%;
    padding: 0%;
}
#container{
    width: 90%;
    height: 80%;
    border: rgb(116, 14, 212) 5px solid;
    margin: auto;
    position: relative;
    border-style: dashed;
}

#canvas{
    width: 100%;
    height: 100%;
    cursor: crosshair;
}
#text{
    color: rgb(113, 45, 177);
    font-size: 32px;
    font-variant: normal;
    font-family: Agency FB;
}
#colorP{
background-color: black;
border:black;
}
#save_image{
color: white;
font-family: Agency FB;
background-color: rgb(116, 14, 212);
}